<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
  		<h5>
  			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/guardian/riff-raff">Riff Raff</a></strong>
  			- The Guardian's Continuous Delivery platform, cited by many current and ex-Guardian employees as <a href="https://twitter.com/RobJamesBerry/status/766372500431405056">one of the best around</a>.
  		</h5>
  		<h5>
  			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Pλ (Plambda)</a></strong>
  			- Work in progress: a somewhat comical attempt to run unmodified Play! framework applications to work in AWS Lambda.
  		</h5>
      	<h5>
  			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/guardian/certificate-magic">Certificate Magic!</a></strong>
  			- A tool that enables developers to correctly and safely create the keypair and CSR needed to request a certificate and then
        automatically install the signed certificate to IAM, CloudFront or API Gateway.
  		</h5>
  		<h5>
  			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/guardian/prism">Prism</a></strong>
  			- Cheekily named after the NSA program, Prism is a multi-AWS account service and resource discovery tool with a simple API.
  		</h5>
  		<h5>
  			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/TomPoulton/hiera-eyaml">hiera-eyaml</a></strong>
  			- A major contributor to a widely used Puppet Hiera plugin allowing an easier way to encrypt sensitive information such as passwords in your Puppet manifests. 
        Also wrote the <a href="https://github.com/sihil/hiera-eyaml-gpg">hiera-eyaml-gpg</a> extension to enable the use of GPG encryption.
  		</h5>
    </div>
  </div>
</div>
</section>
